body {
    margin: 0px;
    background-color: #72A8FF;
    font-family: "Arial";
}

header {
    height: 50px;
    background-color: #72A8FF;
 
    width: 100%;
    margin: 0px auto;
    text-align: center;
}

header h1 {
    margin: 5px;
    color: white;
}

header h1 span {
    color: #48f042;
}

section {
    text-align: center;
    width: 100%;
    background-color: #72A8FF;

    margin: 20px auto;
}

main {
    -webkit-perspective: 300;
    perspective: 300;
    width: 100%;
    background-color: #72A8FF;
    height: 550px;
    margin: 20px auto;
}

.board {
    text-align: left;


    width: 500px;
    height: 456px;
    border-radius: 20px;
    border: 30px solid #213F6F;
    background: #213F6F;
    margin-left: 250px;
}

.row {
    height: 12.5%;
}

.cell {
    width: 12.5%;
    height: 12.5%;
    float: left;
    
    background-color: #f39494;
}

.cell:hover {
    background-color: yellow;
}

.cell-white {
    background-color: #FFF;
}

.cell-black {
    background-color: #183037;
}

.selected {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid red;
}

.highlight {
    background-color: rgb(220, 230, 86);
    cursor: pointer;
}

.board img {
    width: 90%;
    cursor: pointer;
}

#white-counter,
#black-counter {
    display: inline;
    margin-right: 5px;
    color: white;
    font-size: 20px;
}

#white-counter span,
#black-counter span {
    color: #2980b9;
    font-weight: bolder;
    font-size: 30px;
}

.btn {
    position: relative;
    vertical-align: top;
    width: 150px;
    height: 45px;
    margin: 10px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(253, 8, 8, 0.25);
    background: #29152b;
    border: 0;
    border-bottom: 2px solid #2980b9;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #2475ab;
    box-shadow: inset 0 -2px #440844;
}

/* ativar o botão*/
.btn:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:hover {
    background: #290830;
}

footer {
    background-color: #72A8FF;

    width: 100%;
    margin: 0px auto;
    text-align: center;
}

footer li {
    display: inline;
    margin-top: -20px;
}

footer img {
    height: 30px;
}